<%=render'users/user',user:@user%> <!-- 部分テンプレート-->


<h1>Books</h1>
<% @books.each do |books|%>
<p><%=image_tag books.user.get_profile_image(100,100)%></p>
<p>title:<%=link_to 'title',book_path(books.id)%></p>
<p>opinion:<%=books.body%></p>
<%end%>